@media (min-width: 415px) and (max-width: 1024px) {
    /* Styles for all tablets */
}

/* Smartphones and tablets combined */
@media (max-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } 
      
    body{
        background-color: #000000;
        font-family: "Space Mono", serif;
        font-weight: 400;
        font-style: normal;
    }
    
    header {
        background-color: #000000; 
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 15px;
        z-index: 1000; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-bottom: 2px solid #ccc; 
        padding: 10px;
    }
    
    .header-row {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        list-style: none; 
    }
    
    /* rIGHT icon */
    .icon a {
        text-decoration: none;
        font-size: 20px; 
        color: #ffffff; 
    }
    
    /* Center title */
    .header-title {
        flex: 1; 
        text-align: center; 
        font-size: 20px;
        font-weight: lighter;
        color: #ffffff; 
        
    }

/* Side bar*/
.sidebar {
    position: fixed;
    top: 0;
    right: -250px; 
    width: 250px;
    height: 100%;
    background-color: #333; 
    color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out; 
    z-index: 1001; 
    padding-top: 60px; 
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    border-bottom: 1px solid #444;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: block;
    transition: color 0.2s;
}

.sidebar ul li a:hover {
    color: #f39c12; 
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none; 
}





    
/* Main container for the forms */
main {
    margin-top: 70px; 
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 90px; 
    color: #fff;
    background-color: #000000;
    align-items: center;
    
}

/* Form container styling */
.form-container {
    display: flex;
    justify-content:left; 
    align-items: center; 
    background: #4b4b4b;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    gap: 20px;
    
}



.form-container h2 {
    font-size: 13px;
    color: #ffffff;
    margin: 0; 
    width: 100px;
}

.form-container h3 {
    font-size: larger;
    color: goldenrod;
}

h3{
    
    font-size: larger;
    color: #f39c12;
    align-self: center;
    
}

.scrollable-dropdown,
input[type="text"] {
    width: 35%;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 14px;
    background-color: #000000;
    color: #ffffff;
    height: 30px;
    
}

button {
    padding: 8px 15px;
    background-color: #000000;
    color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
    margin-left: 10px; 
    border-radius: 20px;
    width: auto;

}

button:hover {
    background-color: #ffffff;
    color: #000000;
}

 .next {
    background-color: #000000;
    color: #ffffff;

}


    button.next:hover {
        background-color: #ffffff;
        color: #000000;
    }



/* page two */


/* Main container */
main {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}


.table-container {
    max-height: 400px; 
    overflow-x: auto; 
    overflow-y: auto; /* Vertical scrolling */
    border: 1px solid #ccc; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #000000;
}


table {
    width: 100%; 
    border-collapse: collapse; 
}

thead {
    background-color: #ffffff; 
    color: #000000; 
}

th{
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc; 
    font-size: 14px;
    background-color: #ffffff;
}

 td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc; 
    font-size: 14px;
    background-color: #000000;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Button container styling */
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.button-container button {
    flex: 1; 
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 20px;
    width: 80px;

}

#checkout{
    color: #000000;
    background-color: #f9f9f9;
    margin-top: 20px;
}

.button-container button:hover {
    background-color: #ffffff;
    color: #000000;


}



/* rooPage */
.checkbox-container {
    display: flex;
    gap: 20px; 
    align-items: center;
}

.checkbox-container label {
    font-size: 16px;
    color: #555;
    cursor: pointer;
}

.checkbox-container input[type="radio"] {
    margin-right: 8px; 
    transform: scale(1.2); 
}





}


  