<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    
</head>
<body>

    <header>
        <nav>
            <ul class="header-row">
                <li><a href="javascript:history.back()">
                    <button class="next" type="button">BACK</button>
                </a></li>
                <li class="header-title">Account</li>
                <li><p>hello</p></li>
            </ul>
        </nav>
    </header>
    
    <!-- Sidebar -->
    <div id="sidebar" class="sidebar">
        <ul>
            <li class="icon">
                <a href="#" onclick="toggleSidebar()"><i class="fa-solid fa-xmark"></i></a>
            </li>
            <li><a href="#">Account</a></li>
            <li><a href="templates/clockOut.html">Logout</a></li>
        </ul>
    </div>
    

    <main>
        <h2>Account settings...</h2>
        
    </main>
    
    


    
</body>
</html>